.vs/DuplicateTool/v16/.suo
.vs/DuplicateTool/v16/Server/sqlite3/db.lock
.vs/DuplicateTool/v16/Server/sqlite3/storage.ide
.vs/DuplicateTool/v16/Server/sqlite3/storage.ide-shm
.vs/DuplicateTool/v16/Server/sqlite3/storage.ide-wal
